<html>
<head>
	<style>
	#ntbkIng{
		float: left;
	}
	#ntbkQty{
		float: left;
		margin-left: 5px;
		text-align: right;
	}
	#ntbkUnit{
		float: left;
		margin-left: 5px;
	}
	#ntbkdel{
		margin-left:10px;
	}
	
	</style>
</head>
<div id="all">
<div id="ntbkIng">
{% for r in ings %}
{{ r }}<br>
{% endfor %}
</div>
<div id="ntbkQty">
{% for x in qty %}
{{x}}<br>
{% endfor %}
</div>

<div id="ntbkUnit">
{% for y in unit %}
{{y}}<br>
{% endfor %}
</div>
<div id="ntbkdel">
{% for t in id %}
<span id={{t}} onclick="postdelete(this.id)">X</span><br>
{% endfor %}
</div>

</div>
<html>

<script type="text/javascript">
function postdelete(id){
var id = id;
$.post('/deleteList',{id:id},
function(data){
$('#all').html(data);
});
}
</script>