<html>
<head>
	<style>
	#mainTab{
	width:100%;
	}
	#recipe{
	width:71.9%;
	}
	#rate{
		width:100%;
	}
	#maintabContainer{
	margin-top: 20px;
	height:335px;
	width: 92.4%;
	overflow: scroll;
	overflow-x: hidden;
}
	</style>
</head>
<div id="all">
<br>
	<a id = "mostRecent" href="/">MostRecent</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span id="mostUsed" onclick="posta()">MostUsed</span>	
	<div class="tablehead" style="width:92.6%;"></div>
			
		<div id="maintabContainer">
<table id="mainTab">


{% for r in display %}
		<tr class="tr">
			<td class="title" id="recipe">
				<font size="3"><strong><span class="recipeItem" id={{r.id}} onclick=post(this.id)>{{r.recipe3Name}}</span></strong></font> <br>
				<font size="2" color="#f13242">By: {{r.recipe3Auth}}</font>
			</td>
			<td class="Rate" id="rate">
				<font size="2" color="#3c3c3c">Used by {{r.recipe3Use}}</font>
			</td>
		</tr>
{% endfor %}

</table>
</div>
</div>
</html>
<script type="text/javascript">
function post(id){
var id = id;
$.post('/showRecipe',{id:id},
function(data){
$('#contentCenter').html(data);
});
}
</script>


<script type="text/javascript">
function post5(){
$.post('/uploadForm',
function(data){
$('#contentCenter').html(data);
});
}
</script>

<script type="text/javascript">
function post4(){
var userName = $('#userName').val();
var userPass = $('#userPass').val();
$.post('/auth',{userName:userName,userPass:userPass},
function(data){
$('body').html(data);
});
}
</script>



<script>
$(document).ready(function(){
$("#makeMine2").click(function(){
    
    $("#overFlow").slideDown();
   $("#popUp").slideDown('slow');
})

});
</script>

<script type="text/javascript">
function post13(){
var search = $("#searchBox").val();
$.post('/searchRecipe',{search:search},
function(data){
$('#maintabContainer').html(data);
});
}
</script>
<script type="text/javascript">
function post15(){
$.post('/mostRecent',
function(data){
$('contentCenter').html(data);
});
}
</script>
<script type="text/javascript">
function postc(){
$.post('/mostRecent',
function(data){
$('all').html(data);
});
}
</script>