<html>
<head>
	<style>
	#mainTab{
	width:100%;
	}
	#recipe{
	width:71.9%;
	}
	#rate{
		width:100%;
	}
	#maintabContainer{
	margin-top: 20px;
	width: 92.4%;

}



	</style>
</head>
<div id="all">
<div id = "myDiv"><img id = "myImage" src = "static/loading.gif"></div>

{% for r in display %}
<div id="content">
<table id="mainTab">
		<tr class="tr">
			<td class="title" id="recipe">
				{% if r.recipe3Use >= 100 %}
				<img src = "static/star.jpg" height="15" width="15">
				{% endif %}
				<font size="3"><strong><span class="recipeItem" id={{r.id}} onclick=post(this.id)>{{r.recipe3Name}}</span></strong></font>
				<br>
				<font size="2" color="#5A5A5A"><strong>{{r.recipe3Desc[:300]}}</strong></font>
				<br>
				<font size="2" color="#f13242">By: {{r.recipe3Auth}}</font>
			</td>
			<td class="Rate" id="rate">
				<font size="2" color="#3c3c3c">Used by {{r.recipe3Use}} </font>
			</td>
		</tr>
		
</table>
</div>
<br>
{% endfor %}
	
</div>
</div>
</html>
<script type="text/javascript">
function post(id){
var id = id;
$.post('/showRecipe',{id:id},
function(data){
$('#contentCenter').html(data);
});
}
</script>


<script type="text/javascript">
function post5(){
$.post('/uploadForm',
function(data){
$('#contentCenter').html(data);
});
}
</script>

<script type="text/javascript">
function post4(){
var userName = $('#userName').val();
var userPass = $('#userPass').val();
$.post('/auth',{userName:userName,userPass:userPass},
function(data){
$('body').html(data);
});
}
</script>



<script>
$(document).ready(function(){
$("#makeMine2").click(function(){
    
    $("#overFlow").slideDown();
   $("#popUp").slideDown('slow');
})

});
</script>

<script type="text/javascript">
function post13(){
var search = $("#searchBox").val();
$.post('/searchRecipe',{search:search},
function(data){
$('#maintabContainer').html(data);
});
}
</script>
<script type="text/javascript">
function post15(){
var userName = $('#gotoprofile').val();
$.post('/viewProfile',{userName:userName},
function(data){
$('#contentCenter').html(data);
});
}
</script>
